@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@keyframes desdeIzq {
  0% {
    transform: translateX(-300px);
    filter: opacity(0); }
  100% {
    transform: translateX(0);
    filter: opacity(1); } }

@keyframes desdeArriba {
  0% {
    transform: translateY(-200px);
    filter: opacity(0); }
  100% {
    transform: translateX(0);
    filter: opacity(1); } }

* {
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box; }

.navbar {
  background: linear-gradient(to right, #192752, #1c2c5b);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; }
  .navbar .nav__div .navbar-brand {
    /*acá no podía hacerle un hover cambiando el color a la imagen, así que una solución que me terminó gustando más fue usar el brillo*/
    filter: brightness(92%);
    transition: 200ms ease; }
    .navbar .nav__div .navbar-brand:hover {
      filter: brightness(100%); }
  .navbar .nav__div .nav__div__img {
    height: 2.2rem;
    transform: translateY(-3px);
    margin-right: 10px; }
  .navbar .nav__div .nav__div__a--logo {
    font-weight: 200;
    font-size: 1.5em;
    transition: 200ms ease;
    margin-left: 5px;
    color: #fdfdfd !important; }
    .navbar .nav__div .nav__div__a--logo .nav__div__a--logo__span {
      font-weight: 600;
      margin-left: -5px;
      color: #6cabdd; }
  .navbar .nav__div .navbar-toggler {
    border: none;
    transition: 200ms ease; }
    .navbar .nav__div .navbar-toggler:hover {
      color: #e6ff00; }
    .navbar .nav__div .navbar-toggler:focus {
      box-shadow: none;
      /* le saqué el borde y box-shadow que se mostraba al clickear el botón de menú */ }
    .navbar .nav__div .navbar-toggler .navbar-toggler__i {
      transform: scale(1.5); }
  .navbar .nav__div .navbar-collapse .nav-item .nav-link {
    transition: 200ms ease;
    margin-right: 15px; }
    .navbar .nav__div .navbar-collapse .nav-item .nav-link:hover {
      color: #e6ff00; }
  .navbar .nav__div .navbar-collapse .nav-item .li__a__ico {
    margin-right: 6px; }

.navbar-index {
  animation-name: desdeArriba;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-delay: 0; }

footer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  color: white;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to right, #192752, #1c2c5b); }
  footer .footer__div1 {
    display: flex;
    flex-direction: column; }
    footer .footer__div1 .footer__p1 .aFooter {
      color: #6cabdd;
      text-decoration: none;
      transition: 200ms ease; }
      footer .footer__div1 .footer__p1 .aFooter:hover {
        color: #e6ff00; }
  footer .footer__div2 {
    display: flex;
    flex-direction: column; }
    footer .footer__div2 .footer__p3 .aRedes {
      color: white;
      transition: 200ms ease;
      font-size: 2.7em;
      padding: 0 20px;
      display: inline-block; }
      footer .footer__div2 .footer__p3 .aRedes:hover {
        color: #e6ff00;
        transform: scale(120%); }
    footer .footer__div2 .footer__p4 {
      margin-bottom: -15px; }

main {
  min-height: 90vh;
  margin-top: 12vh; }

.welcomeImgDiv .welcomeImg {
  width: 90%;
  height: 50vh;
  object-fit: cover;
  box-shadow: 0 2px 5px black;
  animation-name: desdeIzq;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-delay: 0; }

@media only screen and (max-width: 767px) {
  .welcomeImgDiv {
    padding-left: 0;
    padding-right: 0; }
    .welcomeImgDiv .welcomeImg {
      width: 100%; } }

.tituloContenedor {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  animation-name: desdeIzq;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 2.2s;
  /*0.2s mas de duración para que no parezca un solo bloque y darle mejor efecto*/
  animation-delay: 0; }
  .tituloContenedor .titulo {
    background-color: white;
    box-shadow: 0 2px 5px black;
    padding: 8px 5vw 8px 5vw;
    z-index: 998;
    font-weight: 800; }
  .tituloContenedor .subtitulo {
    background-color: #1c2c5b;
    box-shadow: 0 2px 5px black;
    color: white;
    margin-top: -10px;
    padding: 2px 30px 2px 30px; }

.h3Bio {
  padding: 10px 10px;
  color: white;
  background-color: #1c2c5b;
  box-shadow: 0 2px 5px black;
  margin: auto;
  width: 40%;
  font-weight: 600; }

@media only screen and (max-width: 767px) {
  .h3Bio {
    width: 100%; } }

.row .imgBio {
  padding: 10px;
  background-color: white;
  width: 75%;
  height: 45vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  object-fit: cover;
  box-shadow: 0 2px 5px black; }

.row .videoBio {
  padding: 0; }

.row .pBio {
  color: white;
  padding: 10px 0 20px;
  width: 75%;
  margin: 10px auto;
  font-size: 1.4em;
  font-weight: 800; }

.row .imgBioCol12 {
  height: 75vh; }

@media only screen and (max-width: 767px) {
  .row .imgBio {
    width: 100%; } }

@media only screen and (max-width: 767px) {
  .row .imgBioCol12 {
    height: 45vh; } }

@media only screen and (max-width: 767px) {
  .row .pBio {
    font-size: 1.1em; } }

.h2Bio {
  background-color: white;
  box-shadow: 0 2px 5px black;
  padding: 8px 5vw 8px 5vw;
  width: 60%;
  margin: 0 auto 5vh;
  font-size: 2rem;
  font-weight: 700; }

.imgEstadisticas {
  width: 80%;
  height: 45vh;
  object-fit: cover;
  box-shadow: 0 2px 5px black; }

@media only screen and (max-width: 767px) {
  .imgEstadisticas {
    width: 100%; } }

.h3DivEquipoEstadisticas {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c2c5b;
  box-shadow: 0 2px 5px black;
  width: 45vw;
  height: 10vh;
  margin: 0 auto 5vh; }
  .h3DivEquipoEstadisticas .estadisticasTituloLogo {
    height: 13vh; }
  .h3DivEquipoEstadisticas .h3EquipoEstadisticas {
    color: white;
    flex-basis: 40%;
    padding-left: 5px;
    font-weight: 600; }

@media only screen and (max-width: 767px) {
  .h3DivEquipoEstadisticas {
    width: 100%; } }

.tableEstadisticas {
  font-weight: 500;
  box-shadow: 0 2px 5px black; }
  .tableEstadisticas .tablaBold {
    font-weight: 800; }

/*media queries ajustando la fuente de las tablas para que conserven el formato lo maximo posible manteniendo la legibilidad*/
@media only screen and (max-width: 870px) {
  .tableEstadisticas {
    font-size: 0.95em; } }

@media only screen and (max-width: 815px) {
  .tableEstadisticas {
    margin-top: 15px;
    font-size: 0.9em; } }

@media only screen and (max-width: 780px) {
  .tableEstadisticas {
    margin-top: 15px;
    font-size: 0.8em; } }

@media only screen and (max-width: 580px) {
  .tableEstadisticas {
    margin-top: 15px;
    font-size: 0.75em;
    width: 80% !important; } }

.containerContacto {
  background-color: white;
  box-shadow: 0 2px 5px black;
  margin-bottom: 5vh;
  animation-name: desdeIzq;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-delay: 0; }
  .containerContacto .tituloContacto {
    font-weight: 600; }
  .containerContacto .contactoDivP {
    font-size: 1.2em;
    font-style: italic; }
  .containerContacto .formContacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .containerContacto .formContacto .textAreaDiv {
      flex-basis: 70% !important;
      margin-bottom: 10px; }
    .containerContacto .formContacto .formContacto__div {
      display: flex;
      flex-direction: column;
      flex-basis: 20%;
      margin-top: 10px;
      margin-right: 20px; }
      .containerContacto .formContacto .formContacto__div .inputTextForm {
        border: none;
        background-color: #f7f7f7;
        box-shadow: inset 0 1px 2px grey;
        padding-left: 5px;
        resize: none; }
        .containerContacto .formContacto .formContacto__div .inputTextForm:focus {
          outline: solid 2px #6cabdd;
          box-shadow: none;
          border-radius: 5px; }
    .containerContacto .formContacto .formCheckboxDiv {
      flex-basis: 90% !important; }
      .containerContacto .formContacto .formCheckboxDiv .aTycContacto {
        color: #6cabdd;
        text-decoration: none;
        transition: 200ms ease;
        font-weight: 500; }
        .containerContacto .formContacto .formCheckboxDiv .aTycContacto:hover {
          color: #e6ff00; }
      .containerContacto .formContacto .formCheckboxDiv .formCheckboxInput {
        margin-right: 5px; }
    .containerContacto .formContacto .formButtonsDiv {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 30px !important; }
      .containerContacto .formContacto .formButtonsDiv .formButton {
        padding: 5px 10px 5px 10px;
        font-weight: 600; }
      .containerContacto .formContacto .formButtonsDiv .formButtonReset, .containerContacto .formContacto .formButtonsDiv .formButtonSubmit {
        background-color: #6cabdd;
        border: none;
        box-shadow: 0 3px 3px grey;
        font-size: 1.2em;
        margin: 0 10px 0 10px;
        transition: 100ms ease; }
        .containerContacto .formContacto .formButtonsDiv .formButtonReset:hover, .containerContacto .formContacto .formButtonsDiv .formButtonSubmit:hover {
          background-color: #e4e4e4;
          color: black; }
      .containerContacto .formContacto .formButtonsDiv .formButtonSubmit {
        background-color: #1c2c5b;
        color: white; }
        .containerContacto .formContacto .formButtonsDiv .formButtonSubmit:hover {
          background-color: #e6ff00;
          color: black; }

.mediosCard {
  height: 95%;
  width: 70%;
  margin: 10px auto;
  border-radius: 0;
  box-shadow: 0 2px 5px black;
  padding: 10px; }
  .mediosCard .mediosCardImg {
    height: 60%;
    object-fit: cover; }
  .mediosCard .card-body .card-title {
    font-weight: 700; }
  .mediosCard .card-body .mediosCardPMedio {
    font-style: italic;
    margin-top: 5px;
    font-size: 0.9rem; }
  .mediosCard .card-body .aMediosCard {
    text-decoration: none;
    color: white;
    background-color: #1c2c5b;
    box-shadow: 0 1px 2px #585858;
    border-radius: 5px;
    font-size: 1.3em;
    padding: 5px 15px 5px 15px;
    font-weight: 500;
    transition: 150ms ease; }
    .mediosCard .card-body .aMediosCard:hover {
      color: black;
      background-color: #e6ff00; }

.videoWelcomeDiv .videoWelcome {
  width: 85%;
  height: 65vh;
  object-fit: cover;
  box-shadow: 0 2px 5px black; }

@media only screen and (max-width: 767px) {
  .videoWelcomeDiv .videoWelcome {
    width: 100%; } }

.sectionSorteo {
  background-color: white;
  box-shadow: 0 2px 5px black;
  width: 85%;
  margin: 5vh auto;
  padding: 5vh 2vw;
  display: flex;
  flex-direction: column; }
  .sectionSorteo .divTextoSorteo .tituloSorteo {
    font-weight: 600; }
  .sectionSorteo .divTextoSorteo .pSorteo {
    font-weight: 400; }
  .sectionSorteo .imgSorteo {
    width: 75%;
    height: 50vh;
    object-fit: cover;
    padding: 5px;
    background-color: white;
    box-shadow: 0 2px 5px grey;
    margin-bottom: 5vh;
    align-self: center; }
  .sectionSorteo .formSorteo {
    display: flex;
    flex-direction: column; }
    .sectionSorteo .formSorteo .formSorteoDiv {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
      .sectionSorteo .formSorteo .formSorteoDiv .formSorteoDiv__div {
        flex-basis: 35%;
        margin-top: 30px;
        margin-left: 5px;
        margin-right: 5px; }
        .sectionSorteo .formSorteo .formSorteoDiv .formSorteoDiv__div .inputFormSorteo {
          border: none;
          background-color: #f7f7f7;
          box-shadow: inset 0 1px 2px grey;
          padding-left: 5px;
          resize: none; }
          .sectionSorteo .formSorteo .formSorteoDiv .formSorteoDiv__div .inputFormSorteo:focus {
            outline: solid 2px #6cabdd;
            box-shadow: none;
            border-radius: 5px; }
        .sectionSorteo .formSorteo .formSorteoDiv .formSorteoDiv__div .textAreaFormSorteo {
          width: 40vw;
          height: 20vh; }
      .sectionSorteo .formSorteo .formSorteoDiv .labelSorteo {
        flex-basis: 100% !important; }
    .sectionSorteo .formSorteo .formCheckboxDivContenedor {
      margin-top: 3vh; }
      .sectionSorteo .formSorteo .formCheckboxDivContenedor .formCheckboxDiv {
        margin-top: 10px;
        flex-basis: 90% !important; }
        .sectionSorteo .formSorteo .formCheckboxDivContenedor .formCheckboxDiv .formCheckboxInput {
          margin-right: 5px; }
        .sectionSorteo .formSorteo .formCheckboxDivContenedor .formCheckboxDiv .aTyc {
          color: #6cabdd;
          text-decoration: none;
          transition: 200ms ease;
          font-weight: 500; }
          .sectionSorteo .formSorteo .formCheckboxDivContenedor .formCheckboxDiv .aTyc:hover {
            color: #e6ff00; }
    .sectionSorteo .formSorteo .formButtonsDiv {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 30px !important; }
      .sectionSorteo .formSorteo .formButtonsDiv .formButton {
        padding: 5px 10px 5px 10px;
        font-weight: 600; }
      .sectionSorteo .formSorteo .formButtonsDiv .formButtonReset, .sectionSorteo .formSorteo .formButtonsDiv .formButtonSubmit {
        background-color: #6cabdd;
        border: none;
        box-shadow: 0 3px 3px grey;
        font-size: 1.2em;
        margin: 0 10px 0 10px;
        transition: 100ms ease; }
        .sectionSorteo .formSorteo .formButtonsDiv .formButtonReset:hover, .sectionSorteo .formSorteo .formButtonsDiv .formButtonSubmit:hover {
          background-color: #e4e4e4;
          color: black; }
      .sectionSorteo .formSorteo .formButtonsDiv .formButtonSubmit {
        background-color: #1c2c5b;
        color: white; }
        .sectionSorteo .formSorteo .formButtonsDiv .formButtonSubmit:hover {
          background-color: #e6ff00;
          color: black; }

@media only screen and (max-width: 815px) {
  .sectionSorteo {
    width: 100%; }
    .sectionSorteo .imgSorteo {
      width: 100%; } }

@media only screen and (max-width: 815px) {
  .sectionSorteo .formSorteo .formSorteoDiv .formSorteoDiv__div .textAreaFormSorteo {
    width: 60vw; } }

.asideNoticias .imgNoticias {
  width: 85%;
  height: 65vh;
  object-fit: cover;
  box-shadow: 0 2px 5px black;
  z-index: -1; }

.asideNoticias .h2Noticias {
  background-color: white;
  box-shadow: 0 2px 5px black;
  width: 60%;
  margin: auto;
  position: relative;
  top: -20px;
  font-weight: 800; }

.asideNoticias .divNoticiasCard .noticiasCard {
  background-color: white;
  box-shadow: 0 2px 5px black;
  margin-top: 50px; }
  .asideNoticias .divNoticiasCard .noticiasCard .imgNoticiasCard {
    width: 100%;
    height: 50%;
    object-fit: cover; }
  .asideNoticias .divNoticiasCard .noticiasCard .divNoticiasCardTexto {
    padding: 20px; }
    .asideNoticias .divNoticiasCard .noticiasCard .divNoticiasCardTexto .tituloNoticiasCard {
      font-size: 1.5rem;
      font-weight: 700; }
    .asideNoticias .divNoticiasCard .noticiasCard .divNoticiasCardTexto .aLeerMasNoticiaCard {
      color: #6cabdd;
      transition: 200ms ease;
      text-decoration: none;
      font-weight: 600; }
      .asideNoticias .divNoticiasCard .noticiasCard .divNoticiasCardTexto .aLeerMasNoticiaCard:hover {
        color: #e6ff00; }

.sectionCamiseta .contenedorDivCamiseta {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; }
  .sectionCamiseta .contenedorDivCamiseta .h3Camiseta {
    background-color: white;
    box-shadow: 0 2px 5px black;
    padding: 8px 5vw 8px 5vw;
    font-weight: 700; }
  .sectionCamiseta .contenedorDivCamiseta .aCamiseta {
    background-color: #1c2c5b;
    box-shadow: 0 2px 2px #474747;
    color: white;
    margin-top: -10px;
    padding: 2px 30px 2px 30px;
    text-decoration: none;
    font-weight: 500; }

.sectionCamiseta .divCamisetas {
  background: white;
  box-shadow: 0 2px 5px black;
  padding: 5vh 0 0 0;
  margin: auto;
  width: 90%; }
  .sectionCamiseta .divCamisetas .divCamisetasPng {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto 5vh; }
    .sectionCamiseta .divCamisetas .divCamisetasPng .aCamisetasPng .camisetasPng {
      width: 70%;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 2px 5px grey;
      transition: 200ms ease; }
      .sectionCamiseta .divCamisetas .divCamisetasPng .aCamisetasPng .camisetasPng:hover {
        transform: scale(110%);
        box-shadow: 0 2px 15px #383838; }
  .sectionCamiseta .divCamisetas .divPCamisetas {
    width: 90%;
    margin: auto; }
    .sectionCamiseta .divCamisetas .divPCamisetas .pCamisetas {
      font-size: 1.1rem;
      font-weight: 600; }
      .sectionCamiseta .divCamisetas .divPCamisetas .pCamisetas .aClickTienda {
        color: #6cabdd;
        text-decoration: none;
        transition: 200ms ease;
        font-weight: 700; }
        .sectionCamiseta .divCamisetas .divPCamisetas .pCamisetas .aClickTienda:hover {
          color: #e6ff00; }
  .sectionCamiseta .divCamisetas .iframeMapa {
    margin: 5vh 0;
    width: 60%;
    box-shadow: 0 2px 5px black; }

@media only screen and (max-width: 815px) {
  .sectionCamiseta .divCamisetas {
    width: 100%; }
    .sectionCamiseta .divCamisetas .iframeMapa {
      width: 90%; } }

.body {
  background-image: url(../assets/img/body-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; }

.e404div {
  color: white;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20vh auto 0;
  text-align: center; }
  .e404div .e404div__div-h1Img {
    display: flex;
    flex-direction: column-reverse; }
    .e404div .e404div__div-h1Img .e404h1 {
      font-weight: 700;
      font-size: 3rem; }
    .e404div .e404div__div-h1Img .e404img {
      width: 200px;
      align-self: center; }
  .e404div .e404div__div-a .e404a {
    background-color: #1c2c5b;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    transition: 200ms ease;
    box-shadow: 0 2px 5px black; }
    .e404div .e404div__div-a .e404a:hover {
      background-color: #e6ff00;
      color: black; }
  .e404div .e404p {
    font-size: 1.3rem; }

.container-fluid {
  overflow: hidden; }
