@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
    font-family: 'Quicksand', sans-serif;; 
    box-sizing: border-box;
}

.body{
    min-height: 100%;
    background: linear-gradient(rgb(240, 240, 240), rgb(84, 154, 211));
}

.nav__div__a--logo{
    font-weight: 200;
    font-size: 1.5em;
    transition: 200ms ease;
    margin-left: 5px;
    color: rgb(253, 253, 253) !important;
}
.nav__div__a--logo span{
    font-weight: 600;
    margin-left: -5px;
    color: rgb(108, 171, 221);
}

/*acá no podía hacerle un hover cambiando el color a la imagen, así que una solución que me terminó gustando más fue usar el brillo*/
.navbar-brand{
    filter: brightness(92%);
    transition: 200ms ease;
}
.navbar-brand:hover{
    filter: brightness(100%);
}

.navbar,
.footer{
    background: linear-gradient(to right, rgb(25, 39, 82), rgb(28, 44, 91));
}



.nav-link{
    transition: 200ms ease;
}

.nav-link:hover{
    color: rgb(255, 198, 89) !important;
}


nav div ul a{
    margin-right: 15px;
}

.nav__div__img{
    height: 2.2rem;
    transform: translateY(-3px);
    margin-right: 10px;
}

.li__a__ico{
    margin-right: 6px;
}

/* le saqué el borde y box-shadow que se mostraba al clickear el botón de menú */
.navbar-toggler{
    border: none;
    transition: 200ms ease;
}
.navbar-toggler:hover{
    color:rgb(255, 198, 89);
}
.navbar-toggler i{
    transform: scale(1.5);
}
.navbar-toggler:focus{
    box-shadow: none;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}


main{
    min-height: 90vh;
    margin-top: 12vh;
}

.welcomeImg{
    width: 90%;
    height: 50vh;
    object-fit: cover;
    filter: brightness(70%);
    box-shadow: 0 2px 2px rgb(58, 58, 58);
}

.tituloContenedor{
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.titulo{
    background-color: white;
    box-shadow: 0 2px 2px rgb(71, 71, 71);
    padding: 8px 5vw 8px 5vw;
    z-index: 998;
}

.subtitulo{
    background-color: rgb(28, 44, 91);
    box-shadow: 0 2px 2px rgb(71, 71, 71);
    color: white;
    margin-top: -10px;
    padding: 2px 30px 2px 30px;
}

.containerContacto{
    background-color: white;
    box-shadow: 0 2px 2px rgb(44,44,44);
    margin-bottom: 5vh;
}

.imgBio{
    width: 90%;
}

.imgEstadisticas{
    width: 80%;
    height: 45vh;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgb(51, 51, 51);
}

.estadisticasTituloLogo{
    height: 13vh;
}

.h3DivEquipoEstadisticas{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(28, 44, 91);
    box-shadow: 0 2px 2px rgb(71, 71, 71);
    width: 45vw;
    height: 10vh;
    margin: 0 auto 5vh;
}

.h3EquipoEstadisticas{
    color: white;
    flex-basis: 40%;
    padding-left: 5px;
}

@media only screen and (max-width: 767px) {
    .h3DivEquipoEstadisticas {
        width: 100%;
    }
    
}


.tableEstadisticas{
    font-weight: 500;
    box-shadow: 0px 1px 3px rgb(51, 51, 51);
}

.tablaBold{
    font-weight: 800;
}

/*media queries ajustando la fuente de las tablas para que conserven el formato lo maximo posible manteniendo la legibilidad*/

@media only screen and (max-width: 870px) {
    .table {
        font-size: 0.95em;
    }
    
}

@media only screen and (max-width: 815px) {
    .table {
        margin-top: 15px;
        font-size: 0.9em;
    }
    
}

@media only screen and (max-width: 780px) {
    .table {
        margin-top: 15px;
        font-size: 0.8em;
    }
    
}


@media only screen and (max-width: 580px) {
    .table {
        margin-top: 15px;
        font-size: 0.75em;
        width: 80% !important;
    }
    
}





.bioContainer{
    height: 100%;
}













.formContacto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.formContacto div{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    margin-top: 10px;
    margin-right: 20px;
}

.contactoDivP{
    font-size: 1.2em;
    font-style: italic;
}

.textAreaDiv{
    flex-basis: 70% !important;
    margin-bottom: 10px;
}

.inputTextForm{
    border: none;
    background-color: rgb(247, 247, 247);
    box-shadow: inset 0 1px 2px grey;
    padding-left: 5px;
    resize: none;
}

.inputTextForm:focus{
    outline: solid 2px rgb(108, 171, 221);
    box-shadow: none;
    border-radius: 5px;
}

.formCheckboxDiv{
    flex-basis: 90% !important;
}

.formCheckboxInput{
    margin-right: 5px;
}

.formButtonsDiv{
    flex-direction: row !important;
    justify-content: center;
    margin-top: 30px !important;
}

.formButton{
    padding: 5px 10px 5px 10px;
    font-weight: 500;
}

.formButtonReset{
    background-color: rgb(108, 171, 221);
    border: none;
    box-shadow: 0 3px 3px grey;
    font-size: 1.2em;
    margin: 0 10px 0 10px;
    transition: 100ms ease;
}

.formButtonReset:hover{
    background-color: rgb(228, 228, 228);
    color: rgb(0, 0, 0);
}

.formButtonSubmit{
    background-color: rgb(28, 44, 91);
    color: white;
    border: none;
    box-shadow: 0 3px 3px grey;
    font-size: 1.2em;
    margin: 0 10px 0 10px;
    transition: 100ms ease; 
}

.formButtonSubmit:hover{
    background-color: rgb(255, 198, 89);
    color: black;
}




.mediosCard{
    height: 95%;
    width: 70%;
    margin: 10px auto;
    border-radius: 0;
    box-shadow: 0 1px 2px grey;
    padding: 10px;
    
}

.mediosCardPMedio{
    font-style: italic;
    margin-top: 5px;
    font-size: 0.9rem;
}

.mediosCardImg{
    height: 60%;
    object-fit: cover;
}

.aMediosCard{
    text-decoration: none;
    color: white;
    background-color: rgb(28, 44, 91);
    box-shadow: 0 1px 2px rgb(88, 88, 88);
    border-radius: 5px;
    font-size: 1.3em;
    padding: 5px 15px 5px 15px;
    font-weight: 200;
    transition: 150ms ease;
}

.aMediosCard:hover{
    color: black;
    background-color:rgb(255, 198, 89) ;
}














footer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.footer__div1{
    display: flex;
    flex-direction: column;
}

.footer__div2{
    display: flex;
    flex-direction: column;
}

.footer__p4{
    margin-bottom: -15px;
}

.aFooter{
    color: rgb(108, 171, 221);
    text-decoration: none;
    transition: 200ms ease;
}

.aFooter:hover{
    color: rgb(255, 198, 89);
}

.aRedes{
    color: white;
    transition: 200ms ease;
    font-size: 2.7em;
    padding: 20px;
}



.aRedes:hover{
    color: rgb(255, 198, 89);
}