footer{
    @include flex-direction(column);
    padding: 20px;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    background: $gradiente-footer-nav;
    .footer__div1{
        @include flex-direction(column);
        .footer__p1{
            .aFooter{
                color: map-get($estilos-links, color);
                text-decoration: none;
                transition: map-get($estilos-links, transition);
                &:hover{
                    color: map-get($estilos-links, color-hover);
                }
            }
        }
    }
    .footer__div2{
        @include flex-direction(column);
        .footer__p3{
            .aRedes{
                color: white;
                transition: map-get($estilos-links, transition);
                font-size: 2.7em;
                padding: 0 20px;
                display: inline-block;
                &:hover{
                    color: map-get($estilos-links, color-hover);
                    transform: scale(120%);
                }
            }
        }
        .footer__p4{
            margin-bottom: -15px;
            .aGithub{
                text-decoration: none;
                color: map-get($estilos-links, color);
                transition: map-get($estilos-links, transition);
                padding: 0 3px;
                display: inline-block;
                &:hover{
                    color: map-get($estilos-links, color-hover);
                    transform: scale(102%);
                }
                .fa-github{
                    margin-right: 4px;
                }
            }
        }
    }
}