@keyframes desdeIzq {
    0%{
        transform: translateX(-300px);
        filter: opacity(0);
    }
    100%{
        transform: translateX(0);
        filter: opacity(1);
    }
}

@keyframes desdeArriba {
    0%{
        transform: translateY(-200px);
        filter: opacity(0);
    }
    100%{
        transform: translateX(0);
        filter: opacity(1);
    }
}