main{
    min-height: 90vh;
    margin-top: 12vh;
}

.welcomeImgDiv{
    .welcomeImg{
        width: 90%;
        height: 50vh;
        object-fit: cover;
        box-shadow: $box-shadow-oscuro;
        animation-name: desdeIzq;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-duration: 2s;
        animation-delay: 0;
}
}

@media only screen and (max-width: 767px) {
    .welcomeImgDiv{
        padding-left: 0;
        padding-right: 0;
        .welcomeImg {
            width: 100%;
        }
    }
}

.tituloContenedor{
    margin-top: 30px;
    margin-bottom: 50px;
    @include flex-direction(column);
    align-items: center;
    padding: 10px;
    animation-name: desdeIzq;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 2.2s;
    /*0.2s mas de duración para que no parezca un solo bloque y darle mejor efecto*/
    animation-delay: 0;
    .titulo{
        background-color: white;
        box-shadow: $box-shadow-oscuro;
        padding: 8px 5vw 8px 5vw;
        z-index: 998;
        font-weight: 800;
    }
    .subtitulo{
        background-color: $color-primario;
        box-shadow: $box-shadow-oscuro;
        color: white;
        margin-top: -10px;
        padding: 2px 30px 2px 30px;
    }
}



