//colores
$color-primario: rgb(28, 44, 91);
$gradiente-footer-nav: linear-gradient(to right, rgb(25, 39, 82), $color-primario);
$box-shadow-oscuro: 0 2px 5px rgb(0, 0, 0);


$estilos-links:(
    color: rgb(108, 171, 221),
    color-hover: #e6ff00,
    transition: 200ms ease,
);